SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- drop table ETL.kommunar_SFJ_verdi_TEST
CREATE TABLE ETL_kommunar_SFJ(
	[ogr_fid] [int] IDENTITY(1,1) NOT NULL,
	[geom] [geography] NULL,
	[komnr] [int] NULL,
	[navn] [nvarchar](max) NULL,
	[verdi] [float] NULL,
 CONSTRAINT [PK_unik_ETL_kommunar_SFJ] PRIMARY KEY CLUSTERED 
(
	[ogr_fid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT ETL_kommunar_SFJ ON 
GO
SET IDENTITY_INSERT ETL_kommunar_SFJ OFF
GO

--select * from ETL_kommunar_SFJ