
/****** Object:  Table [dbo].[norgehavInvert]    Script Date: 13.06.2019 22.51.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[norgehavInvert](
	[ogr_fid] [int] IDENTITY(1,1) NOT NULL,
	[ogr_geometry2] [geography] NULL,
	[gml_id] [nvarchar](max) NULL,
	[oppdateringsdato] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[norgehavInvert] ON 
GO
INSERT [dbo].[norgehavInvert] ([ogr_fid], [ogr_geometry2], [gml_id], [oppdateringsdato]) VALUES (3, 0xE61000000104040000000DA0FF7EE2A05140409FAC972F873C40A0A73620249F51409822FD3F74823C407ED464FFC2A051404BC513773F893C400DA0FF7EE2A05140409FAC972F873C4001000000020000000001000000FFFFFFFF0000000003, N'id5bf0a573-2ce9-4622-9ecd-d3521b0bd3e0', CAST(N'1000-01-01' AS Date))
GO
SET IDENTITY_INSERT [dbo].[norgehavInvert] OFF
GO
